{{ if (.Site.Params.hero.enable) }}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <div class="logo">
            <a class="logo__link" href="{{ .Site.BaseURL }}">
              {{ if or (.Site.Params.logo) (.Site.Params.logo_dark) }}
              <img class="logo__image" src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Site.Title }}">
              <img class="logo__image__dark" src="{{ .Site.BaseURL }}{{ .Site.Params.logo_dark }}" alt="{{ .Site.Title }}">
              {{ else }}
                {{ .Site.Title }}
              {{ end }}
            </a>
          </div>
          {{ if .Site.Params.hero.hero__title }}
            <h1 class="hero__title">{{ .Site.Params.hero.hero__title }}</h1>
          {{ end }}
          {{ if .Site.Params.hero.hero__description }}
            <p class="hero__description">{{ .Site.Params.hero.hero__description }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
{{ end }}